<fieldset>
	<legend><span>已备案合同查询</span></legend>
	<label for="ccid">合同号码：</label><input class="input" type="text" id="ccid" name="ccid" />
	<label for="cstmname">所属公司：</label><input class="input" type="text" id="cstmname" name="cstmname" />
	
	<label for="remark">备注信息：</label><input class="input" type="text" id="remark" name="remark" />
	<label for="contract_vector">购进售出：</label><select class="input" id="vector" name="contract_vector">
		<option value=0>售出</option>
		<option value=1>购进</option>
		<option value=2>全部</option>
	</select>
	</br>
	<button id="contract0_query_some">查询</button>
	<button id="contract0_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="contract0_results">
</table>
<fieldset id='change_table'>

</fieldset>
<script src="/static/js/jxc/contract0_query.js"></script>
<link rel="stylesheet" href="/static/css/jxc.css">