<section id="add_form">
	<h3>增加合同备案</h3>
	<p>
	<label for="ccid">合同号码：</label><input type="text" id="ccid" name="ccid" />
	<label for="cstmname">所属公司：</label><input type="text" id="cstmname" name="cstmname" />
	
	<label for="remark">备注信息：</label><input type="text" id="remark" name="remark" />
	<label for="contract_vector">购进售出：</label><select  id="vector"  name="contract_vector">
		<option value=1>售出</option>
		<option value=0>购进</option>
</select>
</p>
	<button id="contract0_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/contract0_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">