<section id="add_form">
	<h3>增加客户</h3>
	<p>
		<label for="customer_cstmname">客户名称：</label><input type="text" id="cstmname" name="customer_cstmname" />
		<label for="customer_cstmtype">客户类型：</label><input type="text" id="cstmtype" name="customer_cstmtype" />
		<label for="customer_gaddr">收货地址：</label><input type="text" id="gaddr" name="customer_gaddr" />
	</p>
	<p>
		<label for="customer_gname">收货人名：</label><input type="text" id="gname" name="customer_gname" />
		<label for="customer_gphone">收货电话：</label><input type="text" id="gphone" name="customer_gphone" />
		<label for="customer_ivaddr">收票地址：</label><input type="text" id="ivaddr" name="customer_ivaddr" />
	</p>
	<p>
		<label for="customer_ivname">收票人名：</label><input type="text" id="ivname" name="customer_ivname" />
		<label for="customer_ivphone">收票电话：</label><input type="text" id="ivphone" name="customer_ivphone" />
		<label for="customer_remark">备注信息：</label><input value="无" type="text" id="remark" name="customer_remark" />
	</p>
	<button id="customer_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/customer_add.js"></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">