<fieldset>
	<legend><span>查询客户</span></legend>
	<label for="customer_cstmname">客户名称：</label><input class="input" type="text" id="cstmname" name="customer_cstmname" />
	<label for="customer_cstmtype">客户类型：</label><input class="input" type="text" id="cstmtype" name="customer_cstmtype" />
	<label for="customer_gname">收货人名：</label><input class="input" type="text" id="gname" name="customer_gname" />
	<label for="customer_ivname">收票人名：</label><input class="input" type="text" id="ivname" name="customer_ivname" />
	<label for="customer_remark">备注信息：</label><input class="input" type="text" id="remark" name="customer_remark" />
	</br>
	<button id="customer_query_some">查询</button>
	<button id="customer_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="customer_results" class="sortable">
	<thead>
		<tr>
			<th data-sort="iint">客户编码</th>
			<th>客户名称</th>
			<th>客户类型</th>
			<th>收货地址</th>
			<th>收货人</th>
			<th>收货电话</th>
			<th>收票地址</th>
			<th>收票人</th>
			<th>收票电话</th>
			<th>备注</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody id='rows'>
	</tbody>
</table>
<fieldset id='change_table'>

</fieldset>
<script src="/static/js/jxc/customer_query.js"></script>
<script src="/static/js/sort-table.js"></script>
<link rel="stylesheet" href="/static/css/jxc_query.css">