<section id="add_form">
	<h3>增加应收帐款条目</h3>
	<p>
	<label for="debt_srcname">收款客户：</label><input type="text" id="srcname" name="debt_srcname" />
	<label for="debt_cstmname">欠款客户：</label><input type="text" id="cstmname" name="debt_cstmname" />
	<label for="debt_dbtsum">应收余额：</label><input type="text" id="dbtsum" name="debt_dbtsum" />
	</p>
	<p>
	<label for="debt_remark">备注信息：</label><input value="无" type="text" id="remark" name="debt_remark" />
	</p>
	<button id="debt_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/debt_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">