<section id="add_form">
	<h3>新增入库</h3>
	<p>
	<label for="income_ccid">合同号码：</label><input type="text" id="ccid" name="contract_ccid" />
	<label for="income_ccdate">入库日期：</label><input type="text" id="icdate" name="income_ccdate" />
	<label for="income_prdtname">品种名称：</label><input type="text" id="prdtname" name="income_prdtname" />
	</p>
	<p>
	<label for="income_specific">品种规格：</label><input type="text" id="specific" name="income_specific" />
	<label for="income_quantity">入库数量：</label><input type="text" id="quantity" name="income_quantity" />
	<label for="income_pnumber">产品批号：</label><input value="无" type="text" id="pnumber" name="income_pnumber" />
	</p>
	<p>
	<label for="income_remark">备注信息：</label><input value="无" type="text" id="remark" name="income_remark" />
	</p>
	<button id="income_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/income_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">