<fieldset>
	<legend><span>入库记录</span></legend>
	<label for="income_ccid">合同号码：</label><input class="input" type="text" id="ccid" name="contract_ccid" />
	<label for="income_srcname">上游客户：</label><input class="input" type="text" id="srcname" name="contract_srcname" />
	<label for="income_cstmname">销售客户：</label><input class="input" type="text" id="cstmname" name="contract_cstmname" />
	<label for="income_ccdate">入库日期：</label><input class="input" type="text" id="icdate" name="income_ccdata" />
	<label for="income_prdtname">品种名称：</label><input class="input" type="text" id="prdtname" name="income_prdtname" /></br>
	<label for="income_specific">产品规格：</label><input class="input" type="text" id="specific" name="income_specific" /> 
	<label for="income_pnumber">产品批号：</label><input class="input" type="text" id="pnumber" name="income_pnumber" />
	<label for="income_remark">备注信息：</label><input class="input" type="text" id="remark" name="income_remark" />
</br>
	<button id="income_query_some">查询</button>
	<button id="income_query_all">查询全部</button>
</fieldset>
<table id="income_results">
</table>
<fieldset id='change_table'>
	
</fieldset>
<script src="/static/js/jxc/income_query.js" ></script>
<link rel="stylesheet" href="/static/css/jxc.css">