<fieldset>
	<legend><span>购进未开票查询</span></legend>
	<label for="inway_invoice_ccid">合同号码：</label><input class="input" type="text" id="ccid" name="inway_invoice_ccid" />
	<label for="inway_invoice_srcname">售方单位：</label><input class="input" type="text" id="srcname" name="inway_invoice_srcname" />
	<label for="inway_invoice_cstmname">购方单位：</label><input class="input" type="text" id="cstmname" name="inway_invoice_cstmname" /> </br>
</br>
	<button id="inway_invoice_query_some">查询</button>
	<button id="inway_invoice_query_all">查询全部</button>
	<button id="export" style="background-color:darkgreen">导出结果</button>
</fieldset>
<table id="inway_invoice_results">
</table>
<fieldset id='change_table'>
	
</fieldset>
<script src="/static/js/jxc/inway_invoice_query.js" ></script>
<link rel="stylesheet" href="/static/css/jxc.css">