<fieldset>
	<legend><span>购进在途查询</span></legend>
	<label for="inway_product_ccid">售方名称：</label><input class="input" type="text" id="ccid" name="inway_product_ccid" />
	<label for="inway_product_srcname">售方名称：</label><input class="input" type="text" id="srcname" name="inway_srcname" />
	
	<label for="inway_product_cstmname">购方名称：</label><input class="input" type="text" id="cstmname" name="inway_product_cstmname" />
	<label for="inway_product_prdtname">产品名称：</label><input class="input" type="text" id="prdtname" name="inway_product_prdtname" />
	<label for="inway_product_specific">产品规格：</label><input class="input" type="text" id="specific" name="inway_product_specific" /> 
</br>
	<button id="inway_query_some">查询</button>
	<button id="inway_query_all">查询全部</button>
</fieldset>
<table id="inway_product_results">
</table>
<fieldset id='change_table'>
	
</fieldset>
<script src="/static/js/jxc/inway_product_query.js" ></script>
<link rel="stylesheet" href="/static/css/jxc.css">