<section id = "add_form">
	<h3>新增出库</h3>
	<p>
	<label for="outgo_ccid">合同号码：</label><input type="text" id="ccid" name="contract_ccid" />
	<label for="outgo_ogdate">出库日期：</label><input type="text" id="ogdate" name="outgo_ccdate" />
	<label for="outgo_prdtname">品种名称：</label><input type="text" id="prdtname" name="outgo_prdtname" />
	</p>
	<p>
	<label for="outgo_specific">产品规格：</label><input type="text" id="specific" name="outgo_specific" />
	<label for="outgo_quantity">出库数量：</label><input type="text" id="quantity" name="outgo_quantity" />
	<label for="outgo_pnumber">产品批号：</label><input value="无" type="text" id="pnumber" name="outgo_pnumber" />
	</p>
	<p>
	<label for="outgo_expname">物流名称：</label><input value="无" type="text" id="expname" name="outgo_expname" />
	<label for="outgo_expnumber">物流单号：</label><input value="无" type="text" id="expnumber" name="outgo_expnumber" />
	<label for="outgo_remark">备注信息：</label><input value="无" type="text" id="remark" name="outgo_remark" />
	</p>
	<button id="outgo_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/outgo_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">