<fieldset>
	<legend><span>出库记录</span></legend>
	<label for="outgo_ccid">合同号码：</label><input class="input" type="text" id="ccid" name="outgo_ccid" />
	<label for="outgo_srcname">仓库名称：</label><input class="input" type="text" id="srcname" name="outgo_srcname" />
	<label for="outgo_cstmname">销售客户：</label><input class="input" type="text" id="cstmname" name="outgo_cstmname" />
	<label for="outgo_ogdate">出库日期：</label><input class="input" type="text" id="ogdate" name="outgo_ccdate" />
	<label for="outgo_prdtname">品种名称：</label><input class="input" type="text" id="prdtname" name="outgo_prdtname" /></br>
	<label for="outgo_specific">产品规格：</label><input class="input" type="text" id="specific" name="outgo_specific" /> 
	<label for="outgo_pnumber">产品批号：</label><input class="input" type="text" id="pnumber" name="outgo_pnumber" />
	<label for="outgo_remark">备注信息：</label><input class="input" type="text" id="remark" name="outgo_remark" />
</br>
	<button id="outgo_query_some">查询</button>
	<button id="outgo_query_all">查询全部</button>
</fieldset>
<table id="outgo_results">
</table>
<fieldset id='change_table'>
	
</fieldset>
<script src="/static/js/jxc/outgo_query.js" ></script>
<link rel="stylesheet" href="/static/css/jxc.css">