<section id="add_form">
	<h3>增加回款</h3>
	<p>
	<label for="payment_ccid">合同号码：</label><input type="text" id="ccid" name="contract_ccid" />
	<label for="payment_pmdate">回款日期：</label><input type="text" id="pmdate" name="payment_pmdate" />
	<label for="payment_pmsum">回款金额：</label><input type="text" id="pmsum" name="payment_pmsum" />
	</p>
	<p>
	<label for="payment_remark">备注信息：</label><input value="无" type="text" id="remark" name="payment_remark" />
	</p>
	<button id="payment_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/payment_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">