<section id="add_form">
	<h3>增加品种</h3>
	<p>
	<label for="product_prdtid">品种编码：</label><input type="text" id="prdtid" name="contract_prdtid" />
	<label for="product_prdtname">品种名称：</label><input type="text" id="prdtname" name="product_prdtname" />
	<label for="product_specific">产品规格：</label><input type="text" id="specific" name="product_specific" />
	</p>
	<p>
	<label for="product_inventor">生产企业：</label><input type="text" id="inventor" name="product_inventor" />
	<label for="product_unit">计量单位：</label><input type="text" id="unit" name="product_unit" />
	<label for="product_boxnumb">件包装量：</label><input type="text" id="boxnumb" name="product_boxnumb" />
	</p>
	<p>
	<label for="product_inline">属产品线：</label><input type="text" id="inline" name="product_inline" />
	<label for="product_ivtype">发票类型：</label><input type="text" id="ivtype" name="product_ivtype" />
	<label for="product_remark">备注信息：</label><input value="无" type="text" id="remark" name="product_remark" />
	</p>
	<button id="product_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/product_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">