<section id="add_form">
	<h3>新增库存条目</h3>
	<p>
	<label for="stock_cstmname">仓库名称：</label><input type="text" id="cstmname" name="stock_cstmname" />
	<label for="stock_prdtname">品种名称：</label><input type="text" id="prdtname" name="stock_prdtname" />
	<label for="stock_specific">品种规格：</label><input type="text" id="specific" name="stock_specific" />
	</p>
	<p>
	<label for="stock_pnumber">产品批号：</label><input value="无" type="text" id="pnumber" name="stock_pnumber" />
	<label for="stock_quantity">库存数量：</label><input type="text" id="quantity" name="stock_quantity" />
	<label for="stock_remark">备注信息：</label><input value="无" type="text" id="remark" name="stock_remark" />
	</p>
	<button id="stock_add">添加</button>
</section>
</section>
<section id="rsts"></section>
<script src="/static/js/jxc/stock_add.js" ></script>
<link rel="stylesheet" href="/static/css/jxc_add.css">